{% extends 'base.html' %}
{% block content %}

<main class="container py-5">
    <section class="card-body">
        <h1 class="display-1 text-center">Django APP</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos officia illo nisi recusandae ducimus eaque
            debitis
            sequi! Reiciendis, veritatis unde fuga deserunt nostrum explicabo quo magnam optio, aliquid deleniti
            recusandae!
        </p>

        <div class="text-center">
            <a class="btn btn-primary" href="/signin/">
                Signin
            </a>
            <a class="btn btn-primary" href="/signup/">
                Signup
            </a>
        </div>
    </section>
</main>

{% endblock %}